h1{
    color: rgb(255, 20, 204);
    font-weight:lighter;
    font-family:cursive;
}
#birthday{
    color: rgb(164, 0, 167);
    font-family: cursive;
    font-size:40;
    font-weight:700;
}
.c1{ color: rgb(166, 1, 147);
     font-family: cursive;
}
.c2{
    color: rgb(188, 2, 163);
    font-family: cursive;
}
.c3{ color: rgb(188, 2, 163);
font-family: cursive;}

*{ background-color: rgb(231, 210, 229);
 text-align: center;
 text-decoration:inherit;
}